
/* this is a test for git */


/* A new comment 123 */



body {
	background: pink;
}


.ek-question
{
	padding:20px;
	border:1px solid #ccc;
	border-radius:10px;
	margin:20px 0px;
	
}
.ek-question label
{
	margin-bottom:0px;
}
ul.ek-responses
{
	list-style-type:none;
	margin-bottom:0px;
	padding:0px;
}

li.ek-response,
body ul li.ek-response {
    padding:            7px;
    margin:             3px;
    list-style-type:    none;
}
.ek-question li.active:hover
{
	cursor: pointer;
	background:#f9f9f9;
	border-radius:10px;
	border:1px solid #ccc;
	padding:6px;/* Has to be one less than the li.ek-response padding */
}
ul.ek-responses .selected
{
	background:#f1f1f1;
	border-radius:10px;
	border:1px solid #ccc;
	padding:6px;/* Has to be one less than the li.ek-response padding */
}
.correctLI, input.correctLI, .reflectionFeedback, input[type="text"].correctLI, .reflectionFeedback
{
	background:#edfff1;
	border:solid 1px #9bdbab;
	border-radius:10px;
	padding:6px;/* Has to be one less than the li.ek-response padding */
}
.incorrectLI, input.incorrectLI,  input[type="text"].incorrectLI
{
	background:#fff7f7  !important;
	border:solid 1px #cc5f5f !important;
	border-radius:10px;
	padding:6px; /* Has to be one less than the li.ek-response padding */
}
.incorrectLI
{
	
}
.ek-response .fa-1x
{
	float:right;
}



/* Margins */
.ek-response input[type="radio"]
{
	margin:4px;
}


/* Feedback Text and Icon */
.qFeedbackWrap
{
	margin-top:20px;
	min-height:50px;
	padding-bottom:10px;	
    vertical-align:middle;
    display:table-cell;	
}
.qFeedbackIcon
{
	display: inline-block;
	vertical-align: middle;
}
.correctIcon
{
	color:#9bdbab;
}
.incorrectIcon
{
	color:#cc5f5f;
}
.qFeedbackText
{
	
	
	display: inline-block;
	vertical-align: middle;
}

.ekQuizButton
{
	margin:10px 0px;
	padding:7px;
	background:#e7e7e7;
	color:#000;
	border-radius:4px;
	border:solid 1px #666;
	font-size:16px;
}
.ekQuizButton:hover
{
	cursor: pointer;
}
/* Style for Short Text Response */



.shortTextResponse input[type=text], .multiBlanks input[type=text]
{
	
	border-radius:5px;
	padding:5px;
	border:solid 1px #666;
	margin:5px 0px;	
}


/* QUIZ Styles */
.ek-quiz-nav-button
{

	clear: both;
    padding-bottom: 30px;
}

.ek-quiz-nav-button
{
	padding:10px;
	background:#336699;
	color:#fff;
	border:1px solid #003366;
	border-radius:10px;
}

.ek-quiz-nav-button:hover
{
	padding:10px;
	background:#003366;
	color:#fff;
	border:1px solid #003366;
	cursor:pointer;
	
}


#ek-nextpage-button, #ek-endquiz-button
{
	float:right;
}
#ek-prevpage-button
{
	float:left;
}
/* Timer Stuff */
#quizTimeLimit
{
	background:#545454;
	min-height:30px;
	border: 1px solid #ccc;
	color:#fff;
	border-radius: 5px;
	padding:20px;
	margin: 20px 0px;
	font-weight:bold;
	
}
/* End Quiz Feedback Divs */
.completionMessage
{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:20px;
	margin: 20px 0px;
}
/* Boundary Feedback */
.boundaryFeedback
{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:20px;
	margin: 20px 0px;
}
/* Out of Ten feedback Div */
.markOutOfTotalFeedback
{
	background:#f7f7f7;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:20px;
	margin: 20px 0px;
}
/* Finish Quiz Popup Modal */
/* The Modal (background) */
.ek-quiz-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.ek-quiz-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Hidden Divs */
.hide{
	display:none;
}
.show{
	display:block;
}
/* Multi Blanks */
.blankAnswerFeedback
{
	border:1px solid #ccc;
	display:block;
	border-radius:3px;
	margin:5px;
	
}
/* The 'Blank 1', Blank 2 tile etc in the single question feedback */
.multiBlanksBlankNumberFeedback
{
	font-size:16px;
	border-bottom:1px solid #ccc;
	color:#f1f1f1;
	font-weight:bold;
	background:#8c8c8c;
	padding:3px 10px;
	
}
.ek-multiBlankFeedbackContent
{
	padding-bottom:10px;
	
}
.ek-multiBlankFeedbackAnswers
{
	padding:10px;
}
.multiBlanks input[type="text"]
{
	display:inline;
	width:150px;
	margin:5px;
	padding:2px;
}
.multiBlankFeedbackAnswers ol li
{
	list-style:none;
	padding-left:20px;
}
/* Reflection Feedback Divs */
.reflectionFeedback, .reflectionSavedFeebdack
{
	display:none;
	margin:10px 0px;
}
/* PAdding to the front page text editor */
.ek-question .wp-editor-wrap
{
	padding:20px 0px;
}



/* Quiz Stuff */
.quizStartButton
{
	background:#336699;
	color:#f7f7f7;
	padding:10px;
	border:1px solid #003366;
	border-radius:5px;
	font-size:16px;
}

.quizStartButton:hover
{
	color:#fff;
	cursor:pointer;

}




/* Leadboard Tables */

.ekTable
{
	border-collapse: collapse;	
	margin:20px 0px;
}



.ekTable th
{
	background:#3a3a3a;
	text-align:left;
	color:#fff;
	padding:10px;
}
.ekTable td
{
	padding:10px;
	border-bottom:1px solid #ccc;
}

.ekTable tr:hover
{
	background:#f1f1f1;
}

.ekTable tr:hover
{
	background:#fff;
}

.ek-content-box
{
	border: 1px solid #ccc;
	border: 1px solid #ccc;
	margin:20px 0px;
	padding: 7px 10px 20px 20px; 
	box-shadow: 3px 3px 5px 1px #888888;
	background:#fff;
	margin-right:20px;
}




.additionalFeedbackDiv
{
	border:1px solid #ccc;
	padding:5px;
	background:#f7f7f7;
	margin:10px 0px 10px 40px;
	border-left:5px solid #ccc;
}

.ek-question-front-options, .ek-question-front-options a
{
	font-size:12px;	
	color:#ccc;
}


/* Redo button */
.qtl_redo_button 
{
	padding:10px 0px;
	margin:10px 0px;
}

.qtl_redo_button a
{
	border:1px solid #ccc;
	background:#f7f7f7;
	padding:10px;
	border-radius:5px;
	font-size:10px;
}